.main-page {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: fixed;
  z-index: 5;
  text-align: center;
}

.header {
  margin-top: 16%;
}

.header h1 {
  color: #423f3f;
  font-size: 24px;
}

.header p {
  color: #b7b3b3;
  font-size: 20px;
  margin-top: 0.7rem;
  margin-bottom: 1rem;
}

.dots-container {
  margin: 1.5rem;
}

.dot {
  height: 7px;
  width: 7px;
  margin: 2px;
  opacity: 0.5;
  background-color: rgb(224, 217, 217);
  border-radius: 50%;
  display: inline-block;
}

.tour-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.each-tour {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.tour-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.tour-heading {
  color: #423f3f;
  font-size: 23px;
  font-weight: 500;
}

.tour-detail {
  width: 85%;
  line-height: 25px;
  letter-spacing: 0.07em;
  color: #b7b3b3;
  font-size: 14px;
  margin-bottom: 4rem;
}

@media screen and (min-width: 768px) {
  .main-page {
    width: calc(100% - 30%);
    margin-left: 30%;
  }
}

@media screen and (min-width: 1024px) {
  .main-page {
    width: calc(100% - 30%);
    margin-left: 30%;
  }

  .row {
    flex-direction: row;
  }

  .dots-container {
    display: block;
  }

  .header {
    margin-top: 5%;
  }

  .header h1 {
    font-size: 30px;
  }

  .header p {
    font-size: 23px;
    margin-top: 0.7rem;
    margin-bottom: 1rem;
    margin-bottom: 4rem;
  }

  .swiper-wrapper {
    display: flex;
    align-items: center;
    width: calc(100% - 30%);
  }

  .slide-container {
    width: 100%;
    padding: 0 40px 40px 40px;
  }

  .tour-container {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .each-tour {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .tour-image {
    width: 250px;
    height: 250px;
    border-radius: 100vh;
    margin-bottom: 2rem;
  }

  .tour-heading {
    font-size: 34px;
    font-weight: 500;
  }

  .tour-detail {
    width: 55%;
    line-height: 34px;
    letter-spacing: 0.09em;
    font-size: 14px;
    margin-bottom: 4rem;
  }
}
