.reservations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.reservation-background {
  background: url(../assets/images/tour1.jpeg);
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
}

.overlay {
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background-color: aqua;
  position: absolute;
}

.reservation-content {
  height: 90%;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 20;
}

.reservation-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 3rem;
}

.reservation-input {
  width: 100%;
  height: 3rem;
  background: transparent;
  border-radius: 20px;
  border: 2px solid white;
  padding: 0 1rem 0 1rem;
  margin-bottom: 2rem;
  color: black;
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
}

.reservation-input:focus {
  outline: none;
  border: 2px solid white;
  box-shadow: 0 0 35px 0 rgb(13, 218, 98);
}

.reservation-button {
  width: 8rem;
  height: 3rem;
  border-radius: 20px;
  border: none;
  background-color: #a8c547;
  font-size: 1rem;
  color: white;
  margin-top: 1rem;
}

.reservation-heading {
  font-size: 40px;
  color: white;
}

@media screen and (min-width: 768px) {
  .reservations-container {
    width: calc(100% - 30%);
    margin-left: 30%;
  }

  .reservation-content {
    padding-top: 7.5rem;
  }
}
